<div class="panel panel-primary" *ngIf='movie'>
    <div class="panel-heading">
        {{ pageTitle + ': '+ movie.moviName}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-lg-6">{{movie.movieName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Description:</div>
                    <div class="col-lg-6">{{movie.Description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Availibility:</div>
                    <div class="col-lg-6">{{movie.releaseDate}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Price:</div>
                    <div class="col-lg-6">{{movie.price | currency:'USD':true:'1.2-2' }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Reviews:</div>
                    <div class="col-lg-6">
                        <md-review [rating]="movie.starRating"
                                   (ratingClicked)="onRatingClicked($event)"></md-review>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="center-block img-responsive"
                     [src]="movie.imageUrl" alt="URL unavailable"
                     [title]="movie.movieName"
                     [style.width.px]="200"
                     [style.margin.px]="2" />
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-default" (click)='onBack()' style="width:80px;">
            <i class="glyphicon glyphicon-chevron-left"></i> Back!
        </a>
    </div>
</div>